[submodule "cyberway.contracts"]
	path = cyberway.contracts
	url = https://github.com/cyberway/cyberway.contracts.git
[submodule "scripts/deployutils"]
	path = scripts/deployutils
	url = git@github.com:cyberway/deployutils.git
