{
    "state_file": "",
    "genesis_json": "genesis.json",
    "params":{
# NOTE: set initial_prod_count to 7 for mainnet
        "initial_prod_count": 0,
        "stake":{
            "enabled": true,
            "max_proxies":[30, 10, 3, 1],
            "depriving_window":2592000,
            "min_own_staked_for_election":0
        },
        "funds": [],
        "posting_rules": {
            "mainfunc":{
                "code":{
                    "varssize":1,
                    "operators":[0],
                    "values":[{"kind":1,"idx":0}],
                    "nums":[],
                    "consts":[]
                },
                "maxarg":"9223372036854771712"
            },
            "curationfunc":{
                "code":{
                    "varssize":1,
                    "operators":[0],
                    "values":[{"kind":1,"idx":0}],
                    "nums":[],
                    "consts":[]
                },
                "maxarg":"9223372036854771712"
            },
            "timepenalty":{
                "code":{
                    "varssize":0,
                    "operators":[0],
                    "values":[{"kind":0,"idx":0}],
                    "nums":[4096],
                    "consts":[]
                },
                "maxarg":4096
            },
            "maxtokenprop":5000
        }
    },
    "accounts": [
# System accounts
        {"name": "cyber",
            "privileged": true,
            "permissions": [
                {"name": "owner",  "keys": []},
                {"name": "active", "keys": ["INITIAL"]},
# Wait 2 week for prods authority (14*24*60*60 = 1209600)
                {"name": "prods",  "keys": [], "threshold": 2, "accounts": ["cyber.prods@active"], "waits": ["1209600"]}
            ],
            "abi":  {"path": "$CYBERWAY_CONTRACTS/cyber.bios/cyber.bios.abi", "hash":""},
            "code": {"path": "$CYBERWAY_CONTRACTS/cyber.bios/cyber.bios.wasm", "hash":""}
        },
        {"name": "cyber.msig",
            "privileged": true,
            "permissions": [
                {"name": "owner",  "keys": [], "accounts": ["cyber@owner"]},
                {"name": "active", "keys": [], "accounts": ["cyber@active"]},
                {"name": "prods",  "keys": [], "accounts": ["cyber@prods"]}
            ],
            "abi":  {"path": "$CYBERWAY_CONTRACTS/cyber.msig/cyber.msig.abi", "hash":""},
            "code": {"path": "$CYBERWAY_CONTRACTS/cyber.msig/cyber.msig.wasm", "hash":""}
        },
        {"name": "cyber.domain",
            "privileged": true,
            "permissions": [
                {"name": "owner",  "keys": [], "accounts": ["cyber@owner"]},
                {"name": "active", "keys": [], "accounts": ["cyber@active"]},
                {"name": "prods",  "keys": [], "accounts": ["cyber@prods"]}
            ],
            "abi":  {"path": "$CYBERWAY_CONTRACTS/cyber.domain/cyber.domain.abi", "hash":""},
            "code": {"path": "$CYBERWAY_CONTRACTS/cyber.domain/cyber.domain.wasm", "hash":""}
        },
        {"name": "cyber.govern",
            "privileged": true,
            "permissions": [
                {"name": "owner",  "keys": [], "accounts": ["cyber@owner"]},
                {"name": "active", "keys": [], "accounts": ["cyber@active"]},
                {"name": "prods",  "keys": [], "accounts": ["cyber@prods"]}
            ],
            "abi":  {"path": "$CYBERWAY_CONTRACTS/cyber.govern/cyber.govern.abi", "hash":""},
            "code": {"path": "$CYBERWAY_CONTRACTS/cyber.govern/cyber.govern.wasm", "hash":""}
        },
        {"name": "cyber.stake",
            "privileged": true,
            "permissions": [
                {"name": "owner",  "keys": [], "accounts": ["cyber@owner"]},
                {"name": "active", "keys": [], "accounts": ["cyber@active"]},
                {"name": "prods",  "keys": [], "accounts": ["cyber@prods"]}
            ],
            "abi":  {"path": "$CYBERWAY_CONTRACTS/cyber.stake/cyber.stake.abi", "hash":""},
            "code": {"path": "$CYBERWAY_CONTRACTS/cyber.stake/cyber.stake.wasm", "hash":""}
        },
        {"name": "cyber.null",
            "permissions": [
                {"name": "owner",  "keys": [], "accounts": []},
                {"name": "active", "keys": [], "accounts": []}
            ]
        },
        {"name": "cyber.prods",
            "permissions": [
                {"name": "owner",  "keys": [], "accounts": []},
                {"name": "active", "keys": [], "accounts": ["cyber@active"]},
                {"name": "prod.major", "keys": [], "accounts": ["cyber@active"]},
                {"name": "prod.minor", "keys": [], "accounts": ["cyber@active"]}
            ]
        },
        {"name": "cyber.token",
            "permissions": [
                {"name": "owner",  "keys": [], "accounts": ["cyber@owner"]},
                {"name": "active", "keys": [], "accounts": ["cyber@active"]},
                {"name": "prods",  "keys": [], "accounts": ["cyber@prods"]}
            ],
            "abi":  {"path": "$CYBERWAY_CONTRACTS/cyber.token/cyber.token.abi", "hash":""},
            "code": {"path": "$CYBERWAY_CONTRACTS/cyber.token/cyber.token.wasm", "hash":""}
        },
        {"name": "cyber.names",
            "permissions": [
                {"name": "owner",  "keys": [], "accounts": ["cyber@owner"]},
                {"name": "active", "keys": [], "accounts": ["cyber@active"]},
            ],
        },
        {"name": "cyber.worker",
            "permissions": [
                {"name": "owner",  "keys": [], "accounts": ["cyber@prods"]},
                {"name": "active", "keys": [], "accounts": ["cyber@prods"]},
            ],
        },
        {"name": "cyber.appfund",
            "permissions": [
                {"name": "owner",  "keys": [], "accounts": ["cyber@prods"]},
                {"name": "active", "keys": [], "accounts": ["cyber@prods"]},
            ],
        },

# NOTE: Technical account to start testnet and tests (remove from mainnet)
        {
            "name": "tech",
            "permissions": [
                {"name": "owner", "key": "INITIAL"},
                {"name": "active", "key": "INITIAL"},
                {"name": "providebw", "accounts": ["@active"]}
            ],
#            "sys_balance": "100000.0000 CYBER",
#            "sys_staked": "100000.0000 CYBER",
        },

        {
            "name": "c",
            "permissions": [{"name": "owner", "key": "INITIAL"}, {"name": "active", "key": "INITIAL", "accounts": ["c@owner"]}],
#            "sys_balance": "100000.0000 CYBER",
#            "sys_staked": "100000.0000 CYBER",
        },{
            "name": "c.issuer",
            "permissions": [{"name": "owner", "accounts": ["c@owner"]}, {"name": "active", "accounts": ["c@active"]}],
        }

        {
            "name": "gls",
            "permissions": [
                {"name": "owner", "key": "INITIAL"},
                {"name": "active", "accounts": ["@testing"]},
                {"name": "testing", "key": "GLS5a2eDuRETEg7uy8eHbiCqGZM3wnh2pLjiXrFduLWBKVZKCkB62"},
                {"name": "providebw", "key": "GLS7KqcmMzmVURzrPvpjfq8ZJSS7Dno82xQ7rpHVYxhz5JnZ9RxY9"}
            ],
        },
# Add additional accounts here

    ],
    "transit_account_authorities": [],
    "delegateuse": [],
    "auth_links": [
# Block producers permissions
        {"permission": "cyber@prods",             "links": ["cyber:setcode", "cyber:setabi", "cyber:setparams"]},
        {"permission": "cyber.msig@prods",        "links": ["cyber:setcode", "cyber:setabi"]},
        {"permission": "cyber.domain@prods",      "links": ["cyber:setcode", "cyber:setabi"]},
        {"permission": "cyber.govern@prods",      "links": ["cyber:setcode", "cyber:setabi"]},
        {"permission": "cyber.stake@prods",       "links": ["cyber:setcode", "cyber:setabi"]},
        {"permission": "cyber.token@prods",       "links": ["cyber:setcode", "cyber:setabi", "cyber.token:create"]},

        {"permission": "gls@providebw",           "links": ["cyber:providebw"]},
        {"permission": "tech@providebw",          "links": ["cyber:providebw"]},
    ],
    "tables": [
        {
            "code": "cyber.token",
            "table": "stat",
            "abi_type": "currency_stats",
            "rows": [
                {
                    "scope": "CYBER", "payer": "cyber.token", "pk": 353349294403,
                    "data": {
                        "supply" : {
                            "_amount" : 60000000015,
                            "_decs" : 4,
                            "_sym" : "CYBER"
                        },
                        "max_supply" : {
                            "_amount" : 100000000000000,
                            "_decs" : 4,
                            "_sym" : "CYBER"
                        },
                        "issuer" : "cyber"
                    }
                }, {
                    "scope": "CMN", "payer": "c", "pk": 86128276098883,
                    "data": {
                        "supply" : {
                            "_amount" : 0,
                            "_decs" : 4,
                            "_sym" : "CMN"
                        },
                        "max_supply" : {
                            "_amount" : 100000000000000,
                            "_decs" : 4,
                            "_sym" : "CMN"
                        },
                        "issuer" : "c.issuer"
                    }
                }
            ]
        }, {
            "code": "cyber.token",
            "table": "accounts",
            "abi_type": "account",
            "rows": [
                {
                    "scope": "tech", "payer": "tech", "pk": 353349294403,
                    "data": {
                        "balance" : {
                            "_amount" : 10000000000,
                            "_decs" : 4,
                            "_sym" : "CYBER"
                        },
                        "payments" : {
                            "_amount" : 0,
                            "_decs" : 4,
                            "_sym" : "CYBER"
                        }
                    }
                }, {
                    "scope": "gls", "payer": "gls", "pk": 353349294403,
                    "data": {
                        "balance" : {
                            "_amount" : 10000000004,
                            "_decs" : 4,
                            "_sym" : "CYBER"
                        },
                        "payments" : {
                            "_amount" : 0,
                            "_decs" : 4,
                            "_sym" : "CYBER"
                        }
                    }
                }, {
                    "scope": "c", "payer": "c", "pk": 353349294403,
                    "data": {
                        "balance" : {
                            "_amount" : 10000000001,
                            "_decs" : 4,
                            "_sym" : "CYBER"
                        },
                        "payments" : {
                            "_amount" : 0,
                            "_decs" : 4,
                            "_sym" : "CYBER"
                        }
                    }
                }, {
                    "scope": "cyber.stake", "payer": "cyber", "pk": 353349294403,
                    "data": {
                        "balance" : {
                            "_amount" : 30000000010,
                            "_decs" : 4,
                            "_sym" : "CYBER"
                        },
                        "payments" : {
                            "_amount" : 0,
                            "_decs" : 4,
                            "_sym" : "CYBER"
                        }
                    }
                }
            ]
        }, {
            "code": "",
            "table": "stake.param",
            "abi_type": "stake_param_object",
            "rows": [
                {
                    "scope": "", "payer": "cyber", "pk": 353349294403,
                    "data": {
                        "id" : 353349294403,
                        "token_symbol" : {
                            "_decs" : 4,
                            "_sym" : "CYBER"
                        },
                        "max_proxies" : [
                            30,
                            10,
                            3,
                            1
                        ],
                        "depriving_window" : 2592000,
                        "min_own_staked_for_election" : 0
                    }
                }
            ]
        }, {
            "code": "",
            "table": "stake.stat",
            "abi_type": "stake_stat_object",
            "rows": [
                {
                    "scope": "", "payer": "cyber", "pk": 353349294403,
                    "data": {
                        "id" : 353349294403,
                        "token_code" : "CYBER",
                        "total_staked" : 20000000005,
                        "total_votes" : 0,
                        "last_reward" : "2019-09-05T14:02:36.000",
                        "enabled" : true,
                    }
                }
            ]
        }, {
            "code": "",
            "table": "stake.agent",
            "abi_type": "stake_agent_object",
            "rows": [
                {
                    "scope": "", "payer": "tech", "pk": 1,
                    "data": {
                        "id" : 1,
                        "token_code" : "CYBER",
                        "account" : "tech",
                        "proxy_level" : 4,
                        "last_proxied_update" : "2019-09-05T16:46:33.000",
                        "balance" : 10000000002,
                        "proxied" : 0,
                        "shares_sum" : 10000000002,
                        "own_share" : 10000000002,
                        "fee" : 0,
                        "min_own_staked" : 0,
                        "provided" : 0,
                        "received" : 0,
                    }
                }, {
                    "scope": "", "payer": "c", "pk": 2,
                    "data": {
                        "id" : 2,
                        "token_code" : "CYBER",
                        "account" : "c",
                        "proxy_level" : 4,
                        "last_proxied_update" : "2019-09-05T16:46:33.000",
                        "balance" : 10000000003,
                        "proxied" : 0,
                        "shares_sum" : 10000000003,
                        "own_share" : 10000000003,
                        "fee" : 0,
                        "min_own_staked" : 0,
                        "provided" : 0,
                        "received" : 0,
                    }
                }, {
                    "scope": "", "payer": "gls", "pk": 3,
                    "data": {
                        "id" : 3,
                        "token_code" : "CYBER",
                        "account" : "gls",
                        "proxy_level" : 4,
                        "last_proxied_update" : "2019-09-05T16:46:33.000",
                        "balance" : 10000000005,
                        "proxied" : 0,
                        "shares_sum" : 10000000005,
                        "own_share" : 10000000005,
                        "fee" : 0,
                        "min_own_staked" : 0,
                        "provided" : 0,
                        "received" : 0,
                    }
                }
            ]
        }, {
            "code": "cyber",
            "table": "domain",
            "abi_type": "domain_object2",
            "rows": [
                {
                    "scope": "", "payer": "c", "pk": 0,
                    "data": {
                        "id": 0,
                        "owner": "c",
                        "linked_to": "c",
                        "creation_date": "2019-08-16T11:38:51.000",
                        "name": "commun"
                    }
                }
            ]
        }
    ],
    "golos": {
        "domain": "golos",
        "names": {
            "issuer": "gls",
            "control": "gls.ctrl",
            "emission": "gls.emit",
            "vesting": "gls.vesting",
            "posting": "gls.publish",
            "social": "gls.social",
            "charge": "gls.charge",
            "memo": "gls.memo"
        },
        "recovery": {
            "wait_days": 30
        },
        "max_supply": 10000000000,
        "sys_max_supply": 10000000000
    }
}
